extends layout

block content
    body(style='background-image: url(/images/index_bg.jpg);')
        .container
            .row
                img.center-block(src="/images/trivia-wars.png" alt="Trivia Wars")
                .row
                    .col-md-6.text-center
                        .box
                            .box-content
                                h2.tag-title One Player
                                hr
                                form.form-horizontal(action='/single_play', method='get')
                                    .form-group
                                        label.control-label.col-md-3(for='first-player') Player 1:
                                        .col-md-9
                                            input#first-player.form-control(type='text', name='first_player')
                                    .form-group
                                        label.col-sm-3.col-md-3.control-label.text-right(for='difficulty') Difficulty:
                                        .col-sm-9.col-md-9
                                            .input-group
                                                #radioBtn.btn-group
                                                    a.btn.btn-primary.btn-sm.active(data-toggle='difficulty', data-title='easy') EASY
                                                    a.btn.btn-primary.btn-sm.notActive(data-toggle='difficulty', data-title='medium') MEDIUM
                                                    a.btn.btn-primary.btn-sm.notActive(data-toggle='difficulty', data-title='hard') HARD
                                                input#difficulty(type='hidden', name='difficulty')
                                    br
                                    br
                                    br
                                    .form-group
                                        button.btn.btn-primary(type='submit') Play
                    .col-md-6.text-center
                        .box
                            .box-content
                                h2.tag-title Two Player
                                hr
                                form.form-horizontal(action='/double_play', method='get')
                                    .form-group
                                        label.control-label.col-md-3(for='first-player') Player 1:
                                        .col-md-9
                                            input.form-control(type='text', name='first_player')
                                    .form-group
                                        label.control-label.col-md-3(for='player-2') Player 2:
                                        .col-md-9
                                            input.form-control(type='text', name='second_player')
                                    .form-group
                                        label.col-sm-3.col-md-3.control-label(for='difficulty2') Difficulty:
                                        .col-sm-9.col-md-9
                                            .input-group
                                                #radioBtn2.btn-group
                                                    a.btn.btn-primary.btn-sm.active(data-toggle='difficulty2', data-title='easy') EASY
                                                    a.btn.btn-primary.btn-sm.notActive(data-toggle='difficulty2', data-title='medium') MEDIUM
                                                    a.btn.btn-primary.btn-sm.notActive(data-toggle='difficulty2', data-title='hard') HARD
                                                input#difficulty2(type='hidden', name='difficulty')
                                    .form-group
                                        button.btn.btn-primary(type='submit') Play

            .row
                .row
                    .col-md-12.text-center
                        .box
                            .box-content
                                h2.tag-title Highscores
                                hr
                                table.table
                                    thead
                                        tr
                                            th(style='text-align: center;') Place
                                            th(style='text-align: center;') Name
                                            th(style='text-align: center;') Score
                                    tbody
                                        each result, i in results
                                            tr 
                                                td #{i+1}
                                                td #{result[0]}
                                                td #{result[1]}
    script.
        $('#radioBtn a').on('click', function(){
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('#'+tog).prop('value', sel);
        $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
        })
    script.
        $('#radioBtn2 a').on('click', function () {
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('#' + tog).prop('value', sel);
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        })


