//
   Created by gabriel on 12/8/16.

extends layout
block content
   script(type='text/javascript', src='/javascripts/db_query.js')
   body(onload='run_two_player_game()')
   .p-y-3.section
      .container
         .well.well-md
            #game-row.row
               .col-md-9
                  h1#question.text-primary
                  .row
                     #top-container.col-lg-5.col-md-offset-4
                        h2#top-option(style='text-align:center;')
                  .row
                     #left-div.col-lg-4.col-md-offset-2
                        h2#left-option(style='text-align:center;')
                     #right-div.col-lg-4.col-md-offset-1
                        h2#right-option(style='text-align:center;')
                  .row
                     #bottom-container.col-lg-5.col-md-offset-4
                        h2#bottom-option(style='text-align:center;')
               .col-md-3
                  .row
                     p.text-xs-center P1 Score:
                     p#question-score-p1.lead.text-md-center 10000
                  .row
                     p.text-xs-center P2 Score:
                     p#question-score-p2.lead.text-md-center 10000
                  .row
                     p.text-xs-center #{playerOne}'s Score:
                     p#total-score-p1.lead.text-md-center 0
                  .row
                     p.text-xs-center #{playerTwo}'s Score:
                     p#total-score-p2.lead.text-md-center 0
                  .row
                     p.text-xs-center Questions Remaining:
                     p#questions-left.lead.text-md-center 0